.footer-container {
	background-color: $color-white;
	// min-height: 79px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	grid-gap: 5px;
	margin: 8px 0;

	img {
		height: 63px;
		width: 120px;
	}
}
