.product-info-container {
	padding: 0 16px;
	display: grid;
	grid-gap: 11px;

	&__price {
		display: grid;
		width: 100%;
		grid-template-columns: max-content max-content max-content;
		// justify-items: start;
		grid-gap: 15px;
		align-items: center;

		&__listed {
			display: grid;
			grid-template-columns: max-content max-content;
			align-items: center;

			&__svg {
				height: 10px;
				width: 10px;
			}

			h3 {
				font-size: 16px;
				font-weight: 600;
				color: $color-bg-red;
				letter-spacing: 0px;
			}
		}

		&__label {
			font-size: 10px;
			font-weight: 500;
			color: $color-text-label;
			text-decoration: line-through;
			letter-spacing: 0px;
		}

		&__discount {
			font-size: 10px;
			font-weight: 500;
			color: $color-green;
			letter-spacing: 0px;
			background-color: $color-light-green;
			padding: 3px 7px;
		}
	}

	&__name {
		font-size: 13px;
		font-weight: 500;
		color: #403f3f;
		letter-spacing: 0px;
		text-align: left;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
}
