.filters-container {
	// background-color: $color-light-grey;
	background-color: $color-white;
	border: 2px solid $color-light-grey;
	border-radius: 100px;
	width: 352px;
	height: 49px;
	// margin: auto;
	position: fixed;
	bottom: 25px;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: 0 1px 0 1px rgba(black, 0.1);
	display: grid;
	grid-gap: 2px;
	grid-template-columns: repeat(3, 1fr);
	justify-items: start;
	align-items: center;
	align-content: center;
	z-index: 100;

	&__block {
		height: 100%;
		width: 100%;
		padding-left: 25px;
		// text-align: center;
		// justify-self: start;
		// justify-content: start;
		display: grid;

		h3 {
			font-size: 12px;
			font-weight: 600;
			letter-spacing: 0px;
			// color: $color-text-black;
		}

		select {
			background-color: #fff;
		}

		select:focus {
			outline: none;
		}
	}
}

.middle {
	border-left: 2px solid #f4f5f9;
	border-right: 2px solid #f4f5f9;
}

.select {
	width: 78px;
	height: 13px;
	// padding: 0 3px;
	padding-right: 30%;
	font-size: 10px;
	font-weight: 500;
	border: none;
	color: $color-dropdown; // height: 20px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url("https://img.icons8.com/fluent-systems-filled/48/000000/expand-arrow.png");
	-webkit-background-image: url("https://img.icons8.com/fluent-systems-filled/48/000000/expand-arrow.png");
	background-repeat: no-repeat;
	background-position: 90% 120%;
	-webkit-background-position: 90% 120%;
	background-size: 10px 10px;
	background-attachment: fixed;
	cursor: pointer;
	text-overflow: ellipsis;
	-moz-transform: translateX(-4px);

	&__options {
		// padding: 5px 20px;
		font-family: $generalFont;
		font-size: 12px;
		font-weight: 500;
		// border: none;
		// background-color: $color-bg-orange;
	}
}
