//elevations
@mixin elevation1 {
	box-shadow: 0px 4px 4px rgba($color-black, 0.22);
}

@mixin elevation2 {
	box-shadow: 0px 6px 10px rgba($color-black, 0.18);
}

@mixin elevation3 {
	box-shadow: 0px 7px 15px rgba($color-black, 0.15);
}

@mixin elevation4 {
	box-shadow: 0px 15px 25px rgba($color-black, 0.12);
}
