$color-bg-orange: #ff6344;
$color-bg-red: #ef3d53;
$color-bg-blue: #5773ff;
$color-bg-violet: #c931ff;

$color-green: #4fbc36;

$color-yellow-star: #ffc107;
$color-grey-star: #eae9e5;

$color-heart-black: #76848b;
$color-heart-red: #eb2d2d;
$color-heart-red-border: #fa1b1c;

$color-white: #ffffff;
$color-light-grey: #f4f5f9;
$color-light-red: #ffeaec;

$color-text-grey-d: #646464;
$color-text-grey-l: #848484;
$color-text-black: #1c1c1c;

//products-price
$color-text-listed: #272727;
$color-text-label: #a1a1a1;
$color-text-name: #1c1c1c;

//toggle button component
$color-bg-grey: #f4f5f9;
$color-title-text: #515c6f;

//filters
