$color-bg-orange: #FF6344;
$color-bg-red: #EF3D53;
$color-bg-blue: #5773FF;
$color-bg-violet: #C931FF;

$color-green: #4FBC36;

$color-yellow-star: #FFC107;
$color-grey-star: #EAE9E5;

$color-heart-black: #76848B;
$color-heart-red: #EB2D2D;
$color-heart-red-border: #FA1B1C;

$color-white: #FFFFFF;
$color-light-grey: #F4F5F9;
$color-light-red: #FFEAEC;

$color-text-grey-d: #646464;
$color-text-grey-l: #848484;
$color-text-black: #1C1C1C;
